.printable-content {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.styled-header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

@media print {
    body * {
        visibility: hidden;
    }

    .printable-content, .printable-content * {
        visibility: visible;
    }

    .printable-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    /* Ocultar los botones al imprimir */
    .action-buttons {
        display: none;
    }

    table {
        width: 100%;
        table-layout: fixed;
    }

    table td, table th {
        overflow: visible;
        white-space: normal;
        text-overflow: ellipsis;
    }
    

    /* Ajusta el tamaño de fuente para la impresión */
    table {
        font-size: 90%; /* Ajusta según sea necesario */
    }
}