{% extends "mzdportal/home.html" %}
{% load static %}
{% block imports %}
<link rel="stylesheet" href="{% static 'mzdportal/assets/css/clientesRegistradosEvento.css' %}" />
{% endblock %}

{% block newboton%}
<a href="{% url 'export_clientes_excel' evento.event_id %}" class="btn btn-success mr-6">Exportar a Excel</a>
            
{% endblock %}

{% block content %}
<div class="printable-content site-section h-screen">
    <section class="h-full pb-16 overflow-y-auto">
        <div class="">
            <h2 class="styled-header text-center mb-4">{{ evento.name }}</h2>
            <div class="action-buttons text-center mt-4 mb-6">
                
            </div>

            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Vehículo de Interés</th>
                        <th>¿Cómo se enteró?</th>
                        <th>¿Desea recibir noticias?</th>
                        <th>Método de Contacto Preferido</th>
                        <th>¿Interesado en financiamiento?</th>
                        <th>¿Vehículo para parte de pago?</th>
                        <th>Valoración del Evento</th>
                        <th>Feedback del Evento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.telefono }}</td>
                        <td>{{ cliente.get_tipo_vehiculo_display }}</td>
                        <td>{{ cliente.como_se_entero }}</td>
                        <td>{{ cliente.recibir_noticias|yesno:"Sí,No" }}</td>
                        <td>{{ cliente.get_metodo_contacto_preferido_display }}</td>
                        <td>{{ cliente.interes_financiamiento|yesno:"Sí,No" }}</td>
                        <td>{{ cliente.vehiculo_parte_pago|yesno:"Sí,No" }}</td>
                        <td>{{ cliente.get_valoracion_evento_display }}</td>
                        <td>{{ cliente.feedback_evento }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            
            
        </div>
    </section>
    
</div>


{% endblock %}
